#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.navbar {
  background-color: #043838;
  color: #00ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-radius: 10px 0 10px 0;
}
.navbar .logo {
  font-size: 20px;
  text-decoration: none;
}
.navbar a {
  text-decoration: none;
  color: #EEEEEE;
}